---
layout: default
---
<div class="container">
    <div class="row">
        <h1>Kontribuesit</h1>
    </div>
</div>
<div class="container">
{% assign newRow = 1 %}
{% for author in site.authors %}

    {% if newRow == 1 %}
    <div class="row">
    {% endif %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{ author.profile }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title d-inline-flex"> {{ author.name }}</h5>
                    <h5 class="card-title d-inline-flex text-primary"> {{ author.role }}</h5>
                    <p class="card-text">{{ author.bio }}</p>
                    <a href="{{ author.website }}" class="btn btn-primary">Profili</a>
                </div>
            </div>
        </div>
    {% if newRow == 3 %}
        </div>
    {% endif %}

    {% if newRow == 3 %} 
        {% assign newRow = 1 %}
    {% else %}
        {% assign newRow = newRow | plus:1 %}
    {% endif %}

{% endfor %}
</div>