---
layout: default
---
<br />
<div class="container">
    <div class="row">
        <h1>Detyrat</h1>
        <div class="alert alert-success" role="alert">
            Cili e poston i pari zgjidhjen e një detyre në koment, atëher ajo do të merret si e saktë.
        </div>
    </div>
</div>
<br />
<div class="container">
    {% assign newRow = 1 %}
    {% for detyra in site.detyrat %}
        {% if newRow == 1 %}
         <div class="row">
        {% endif %}
            <div class="col-md-4">
            {% include challange_view.html %}
            </div>
        {% if newRow == 3 %}
            </div>
        {% endif %}

        {% if newRow == 3 %} 
            {% assign newRow = 1 %}
        {% else %}
            {% assign newRow = newRow | plus:1 %}
        {% endif %}
    {% endfor %}
</div>