<div class="card card-blog fill-light" style="background-color: rgb(250, 251, 251);">
    {% if post.cover_url != nil %}
    <div class="card-image">
        <div class="fill-primary" style="width: 100%; height: 0px; padding-top: 100%; background-image: url(&quot;typewriter/layer0.png&quot;), url(&quot;typewriter/layer1.png&quot;); background-size: 100%; background-color: rgb(193, 165, 139); background-blend-mode: multiply, normal;"></div>
    </div>
    {% endif %}

    <div class="content">
        <h6 class="category text-primary" style="color: rgb(193, 165, 139);">
            {% if post.video == true %}
                <i class="fa fa-video"></i>
            {% else %}
                <i class="fa fa-newspaper"></i>
            {% endif %}
        </h6>

        <h4 class="card-title text-dark" style="color: rgb(74, 98, 105);">
            {{ post.title }}
        </h4>
        <p class="card-description text-dark-secondary" style="color: rgb(55, 69, 72);">
            {{ post.description }}
        </p>
        <div class="footer">
            <div class="author text-dark" style="color: rgb(74, 98, 105);">
               <img src="https://source.unsplash.com/collection/474205/60x60" alt="author avatar" class="avatar img-raised">
               <span>{{ post.author }}</span>
            </div>
           <div class="stats text-light-secondary" style="color: rgb(179, 194, 194);">
                <i class="material-icons">{{ post.date | date_to_long_string }}</i>
            </div>
        </div>

    </div>

</div>