<div class="card card-blog fill-light" style="background-color: rgba(0,0,0, 0.87);">
    {% if post.cover_url != nil %}
    <div class="card-image">
        <div class="fill-primary" style="width: 100%; height: 0px; padding-top: 100%; background-image: url(&quot;typewriter/layer0.png&quot;), url(&quot;typewriter/layer1.png&quot;); background-size: 100%; background-color: rgb(193, 165, 139); background-blend-mode: multiply, normal;"></div>
    </div>
    {% endif %}

    <div class="content">
        <h6 class="category text-primary">
            {% if post.video == true %}
                <i class="fa fa-video"></i>
            {% else %}
                <i class="fa fa-newspaper"></i>
            {% endif %}
        </h6>

        <a href="{{ post.url | absolute_url }}">
            <h4 class="card-title text-dark">
                {{ post.title }}
            </h4>
        </a>
        <p class="card-description text-dark-secondary">
            {{ post.description }}
        </p>
        <div class="footer">
            <div class="author text-dark">
               <img src="{{ post.profile_image }}" alt="author avatar" class="avatar img-raised">
               <span>{{ post.author }}</span>
            </div>
           <div class="stats text-light-secondary">
                <i class="fa fa-calendar"></i>
                {{ post.date | date_to_string }}
            </div>
        </div>

    </div>

</div>