<div class="panel">
    <h3>Skills</h3>
    <span class="tag">PHP</span>
    <span class="tag">Symfony</span>
    <span class="tag">Codeigniter</span>
    <span class="tag">Java</span>
    <span class="tag">Python</span>
    <span class="tag">MySql</span>
    <span class="tag">jQuery</span>
    <span class="tag">HTML</span>
    <span class="tag">CSS</span>
    <span class="tag">Git</span>
    <span class="tag">Vim</span>
</div>

<div class="button-container">
    <a href="{{ "/" | relative_url }}assets/files/cv.pdf" target="_blank" class="button -green center">
        <i class="fa fa-file-word"></i> Download CV
    </a>
</div>