<footer id="footer">
    <div class="left">
        <p class="small">© Copyright {{ site.time | date: '%Y' }} {{ site.author }}</p>
    </div>
    <div class="right">
            <ul class="social-media">
                <li class="social-button">
                    <a href="https://fb.com/programerat" class="gg-facebook" target="_blank"></a>
                </li>
                <li class="social-button">
                    <a href="https://twitter.com/programerat" class="gg-twitter" target="_blank"></a>
                </li>
                <li class="social-button">
                    <a href="https://www.linkedin.com/company/programerat" class="gg-slack" target="_blank"></a>
                </li>
            </ul>
    </div>
</footer>