<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/programeret.png" alt="" width="20" height="20" class="d-inline-block align-text-top">
            </a>
            <span class="text-muted">2022 Programerat</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://github.com/programerat"><i class="fa fa-github " width="24" height="24" aria-hidden="true"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.youtube.com/channel/UCi5M70eXEbQkAV4fyfrbOuQ"><i class="fa fa-youtube " width="24" height="24" aria-hidden="true"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://join.slack.com/t/programerat/shared_invite/zt-1c9wrdeb7-1jViyn7ljTgKSU6PoE1w6w"><i width="24" height="24" class="fa fa-slack " aria-hidden="true"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://facebook.com/programerat"><i class="fa fa-facebook " width="24" height="24" aria-hidden="true"></a></li>
        </ul>
    </footer>
</div>