@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #FAFBFB;
}

p code {
    color: #6cb4a0;
    padding: 5px;
}

.social-button-custom {
    padding: 5px;
    background: #0197f6;
    text-align: center;
    color: #fff !important;
    border-radius: 5px;
    margin: 5px;
    width: 35px;
  }


  a {
    text-decoration: none;
  }
  
  .layout-article {
    max-width: 1027px;
    margin: 0 auto;
    padding: 40px 0px;
  }

  .layout-article ul.box-article {
    list-style: none;
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 0px;
    column-gap: 0px;
  }

  .layout-article ul.box-article li {
    display: inline-block;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 25px;
    background: #ffffff;
    height: auto;
    overflow: hidden;
    margin: 15px;
    position: relative;
    border-radius: 6px;
    background-color: rgb(74, 98, 105);
    color: rgba(0,0,0, 0.87);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }
  .layout-article ul.box-article li article {
    width: 100%;
  }
  .layout-article ul.box-article li article h1 {
    transition: ease 0.3s;
    font-size: 24px;
    line-height: 31px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
  }
  .layout-article ul.box-article li article figure {
    width: 100%;
  }
  .layout-article ul.box-article li article figure img {
    width: 100%;
  }
  .layout-article ul.box-article li article p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
  }
  .layout-article ul.box-article li article span {
    width: 100%;
    display: block;
    padding: 15px;
    text-align: center;
    background: #24cf5f;
    margin-left: -15px;
    color: #ffffff;
    transform: translateY(15px);
    transition: ease 0.3s;
  }
  .layout-article ul.box-article li:hover article h1 {
    color: #24cf5f;
  }
  .layout-article ul.box-article li:hover article span {
    /* @include translateY(0px); */
  }
  @media only screen and (max-width: 480px) {
    .layout-article ul.box-article {
      -moz-column-count: 1;
      column-count: 1;
    }
  }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    .layout-article ul.box-article {
      -moz-column-count: 2;
      column-count: 2;
    }
  }
  
  .credit {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 150px;
    height: 100px;
    background: url(http://tlab.co.id/images/logo.png) no-repeat center center;
  }
  