
  a:hover {
    color: #6c63fe;
  }

  button.toc_toggle {
    padding: 0;
    background: transparent;
    max-width: 40px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999999;
    border: unset;
    cursor: pointer;
  }
  button.toc_toggle img{
    width: 100%;
  }
  
  .fix_toc {
    position: fixed;
    left: 10px;
    bottom: 70px;
    padding: 15px;
    background: #f2f4f6;
    max-width: 280px;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 20%);
    max-height: 70vh;
  }
  .fix_toc .widget ul li {
    font-size: 14px;
    line-height: 24px;
    padding: 5px 10px;
    background: #fff;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  .fix_toc .widget ul li a {
    display: block;
  }
  .fix_toc .widget ul li.item-h3 {
    margin-left: 10px;
  }
  .fix_toc .widget ul li.item-h4 {
    margin-left: 20px;
  }
  div#fix_toc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: #6c63fe;
  }
  
  div#fix_toc::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
  }