<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ "/" | relative_url  }}assets/images/favicon.ico">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/style.css">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/buttons.css">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/skills.css">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/info_bubble.css">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/search.css">
  <link rel="alternate" type="application/rss+xml" title="My Blog" href="{{ "/" | relative_url  }}feed.xml">
  <link rel="stylesheet" href="{{ "/" | relative_url  }}assets/css/highlight.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
</head>
<body>
  {% if page.url == "/" %}
    {% include search.html %}
  {% endif %}
  
  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section id="wrapper" class="{% if page.profile %}home{% endif %}">
    {{ content }}
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="{{ "/" | relative_url  }}assets/js/main.js"></script>
  <script src="{{ "/" | relative_url  }}assets/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script><script>
    var posts;
    $.getJSON('{{site.baseurl}}/search.json', function(data){
      posts = data;
    });
    var searchIsOpen = false;
    $(document).ready(function(){
      var postContainer = $('#post-list');
      var search = $('#search');
      var currentPosts = postContainer.html();

      search.on('input change', function(){
        keyword = $(this).val();
        postContainer.html('')
          for(var i=0; i < posts.length; i++) {
            if(posts[i].title.toLowerCase().indexOf(keyword) !== -1 || posts[i].description.toLowerCase().indexOf(keyword) !== -1) {
              var content = postContainer.data('prototype');
              content = content.replace(/__url__/g, posts[i].url);
              content = content.replace(/__title__/g, posts[i].title);
              content = content.replace(/__description__/g, posts[i].description);
              postContainer.append(content);
            }
          }
      });
      
      $('body').keydown(function(e){
        
        var char = e.key.toLowerCase();
        if (char == "s" && !searchIsOpen) {
          search.fadeIn(100);
          search.focus();
          searchIsOpen = true;
        }
        
        if(char == "escape" && searchIsOpen) {
          search.fadeOut(100);
          postContainer.html(currentPosts);
          search.val('');
          searchIsOpen = false;
        }
      });
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>



