---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <nav class="navbar bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/programeret.png" alt="" width="20" height="20" class="d-inline-block align-text-top">
        Programerat
      </a>
      {% if post != nil %}
        <div class="flex-row-between">
          <a href="{{ site.url }}{{ site.baseurl }}/">« back</a>
        </div>
      {% endif %}
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" id="search-input" placeholder="Kërko artikujt" aria-label="Search">
      </form>
      <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()" class="moon"><div></div></button>
    </div>
  </nav>
  <main>
    {% include anchor_headings.html html=content anchorBody="#" %}
  </main>

  

  <script>
    function setTheme(theme) {
      if (theme === "dark") {
        document.documentElement.setAttribute('data-theme', 'dark');
        window.localStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").classList.add('sun');
        document.getElementById("theme-toggle").classList.remove('moon');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
        window.localStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").classList.add('moon');
        document.getElementById("theme-toggle").classList.remove('sun');
      }
    }

    let theme = localStorage.getItem('theme');

    theme = theme || (window.matchMedia ? window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light' : 'light');

    setTheme(theme);

    function modeSwitcher() {
      let currentMode = document.documentElement.getAttribute('data-theme');

      if (currentMode === "dark") {
        setTheme('light');
      } else {
        setTheme('dark');
      }
    }
  </script>



</body>

<footer class="social-footer">
  <div class="social-footer-icons">
    <a href="https://github.com/programerat" title="Github profile, nothing much there, yet" target="_blank"
      rel="noopener noreferrer"><i class="fa fa-github social-button-custom " aria-hidden="true"></i></a>
    <a href="{{site.url}}{{ site.baseurl }}/atom.xml" title="Feed RSS" target="_blank" rel="noopener noreferrer"><i
        class="fa fa-rss social-button-custom" aria-hidden="true"></i></a>
    <a href="https://github.com/programerat/programerat.github.io" title="Browse the code" target="_blank" rel="noopener noreferrer"><i
        class="fa fa-code social-button-custom " aria-hidden="true"></i></a>
    <a href="https://facebook.com/programerat" title="Facebook page" target="_blank"><i class="fa fa-facebook social-button-custom " aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCi5M70eXEbQkAV4fyfrbOuQ" title="youtube channel" target="_blank"><i class="fa fa-youtube social-button-custom " aria-hidden="true"></i></a>
    <a href="https://discord.gg/XbfP9quv" title="Discord Chat" target="_blank"><img src="{{ "/" | relative_url  }}assets/images/discord.svg" width="20px" alt="discord chat" ></a>
  </div>
</footer>


{% if page.url == '/' %}
  <script src="{{ site.url }}{{ site.baseurl }}/assets/js/simple-jekyll-search.js"></script>
  <script>
    var sjs = SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('search-results'),
		      json: '{{ site.url }}{{ site.baseurl }}/search.json',
      searchResultTemplate: '<li><a href="{url}" title="{description}">{title}</a></li>',
      noResultsText: 'No results found..',
      limit: 10,
      fuzzy: true,
    })
  </script>
  {% endif %}


</html>
