---
layout: default
---
<!-- Heading -->
<div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
  <div class="my-3 py-3">
    <h2 class="display-5">{{ page.title }}</h2>
    <p>
      {% assign minute=content | number_of_words | divided_by: 265 | plus: 1 %}
      <time datetime="{{ page.date | date_to_xmlschema }}">  
        {% if page.minute %} {{ page.minute }} {% else %} {{ minute }} {% endif %} min 
      </time>
    </p>
    <p class="lead">
      Vështirsia: {{ page.dificulty }}
    </p>
  </div>
  <div class="hide-phone bg-body shadow-sm mx-auto header-content" style="height: 300px; border-radius: 21px 21px 0 0;"></div>
</div>
<!-- Content -->
<article class="container pull-content">
  <div class="row">
   <div class="col-md-12 blog-main">
      {{ content }}
    </div>
  </div>
</article>

{% include disqus.html %}
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/toc.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/like_storage.js"></script>